---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=2%20Harewood%20Place,%20London,%20Canada&key=AIzaSyAICpUrlA29dz7ynTi_78FNStTZEPhsO3s&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "2",
                       "short_name" : "2",
                       "types" : [ "street_number" ]
                    },
                    {
                       "long_name" : "Harewood Place",
                       "short_name" : "Harewood Pl",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "Mayfair",
                       "short_name" : "Mayfair",
                       "types" : [ "neighborhood", "political" ]
                    },
                    {
                       "long_[...]
