<div class="modal fade" id="restaurateur-create-modal" role="dialog" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button aria-label="Close" class="close" data-dismiss="modal" type="button">
          <span aria-hidden="true">&times;</span>
        </button><h4 class="modal-title"><%= t('restaurant.create') %></h4>
      </div>
      <div class="modal-body">
        <%= render partial: 'form' %>
      </div>
    </div>
  </div>
</div>
