---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=test%40test.com&source=tok_18gvkDAnIETEalxPiOvmVu87
    headers:
      Authorization:
      - Bearer sk_test_f3crwsSoeR3N8wNVjq8sEssW
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-07-06'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_8ytbyW06WMbUY4",
          "object": "customer",
          "account_balance": 0,
          "created": 1470832049,
          "currency": null,
          "default_source": "card_18gvkDAnIETEalxPwM921wla",
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "test@test.com",
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_18gvkDAnIETEalxPwM921wla",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_8ytbyW06WMbUY4",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 10,
                "exp_year": 2017,
                "fingerprint": "sOd1LTL8eaugciUV",
                "funding": "credit",
                "last4": "4242",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_8ytbyW06WMbUY4/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_8ytbyW06WMbUY4/subscriptions"
          }
        }
  recorded_at: Wed, 10 Aug 2016 12:27:29 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: UTF-8
      string: amount=1099&currency=cad&customer=cus_8ytbyW06WMbUY4
    headers:
      Authorization:
      - Bearer sk_test_f3crwsSoeR3N8wNVjq8sEssW
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-07-06'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_18gvuAAnIETEalxPXv9kvO8q",
          "object": "charge",
          "amount": 1099,
          "amount_refunded": 0,
          "application_fee": null,
          "balance_transaction": "txn_18gvuAAnIETEalxPvravDeJf",
          "captured": true,
          "created": 1470832434,
          "currency": "cad",
          "customer": "cus_8ytbyW06WMbUY4",
          "description": null,
          "destination": null,
          "dispute": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {},
          "order": null,
          "paid": true,
          "receipt_email": null,
          "receipt_number": null,
          "refunded": false,
          "refunds": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/charges/ch_18gvuAAnIETEalxPXv9kvO8q/refunds"
          },
          "shipping": null,
          "source": {
            "id": "card_18gvkDAnIETEalxPwM921wla",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "customer": "cus_8ytbyW06WMbUY4",
            "cvc_check": "pass",
            "dynamic_last4": null,
            "exp_month": 10,
            "exp_year": 2017,
            "fingerprint": "sOd1LTL8eaugciUV",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "source_transfer": null,
          "statement_descriptor": null,
          "status": "succeeded"
        }
  recorded_at: Wed, 10 Aug 2016 12:33:55 GMT
recorded_with: VCR 3.0.3

