---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: UTF-8
      string: amount=1099&currency=cad&customer=cus_94CowVRGL3HTHH
    headers:
      Authorization:
      - Bearer sk_test_f3crwsSoeR3N8wNVjq8sEssW
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-07-06'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_18m6jiAnIETEalxPs42iD2U3",
          "object": "charge",
          "amount": 1099,
          "amount_refunded": 0,
          "application_fee": null,
          "balance_transaction": "txn_18m6jiAnIETEalxPLzvODw7R",
          "captured": true,
          "created": 1472065710,
          "currency": "cad",
          "customer": "cus_94CowVRGL3HTHH",
          "description": null,
          "destination": null,
          "dispute": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {},
          "order": null,
          "paid": true,
          "receipt_email": null,
          "receipt_number": null,
          "refunded": false,
          "refunds": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/charges/ch_18m6jiAnIETEalxPs42iD2U3/refunds"
          },
          "shipping": null,
          "source": {
            "id": "card_18m4OoAnIETEalxPUjduelPm",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "customer": "cus_94CowVRGL3HTHH",
            "cvc_check": null,
            "dynamic_last4": null,
            "exp_month": 11,
            "exp_year": 2017,
            "fingerprint": "sOd1LTL8eaugciUV",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "source_transfer": null,
          "statement_descriptor": null,
          "status": "succeeded"
        }
  recorded_at: Wed, 24 Aug 2016 19:08:30 GMT
recorded_with: VCR 3.0.3

