<%= form_for :user, url: set_location_users_path, html: { id: 'set-location' } do |f| %>
  <div id="current-location" class='filter'>
    <%= text_field_tag 'user[postal_code]', session[:postal_code], placeholder: t('enter_postcode'), class: 'inputBox location-field',
    	data: {info: t("invalid_postal_code")}
    %>
    <%= button_tag t('restaurant.find'), class: 'findButton' %>
  </div>
<% end %>
