---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=test%40test.com&source=tok_18m6VKAnIETEalxPUkUr3zg2
    headers:
      Authorization:
      - Bearer sk_test_f3crwsSoeR3N8wNVjq8sEssW
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-07-06'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_94F2QWAh0SL27N",
          "object": "customer",
          "account_balance": 0,
          "created": 1472065038,
          "currency": null,
          "default_source": "card_18m6VKAnIETEalxPXNK101gH",
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "test@test.com",
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_18m6VKAnIETEalxPXNK101gH",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_94F2QWAh0SL27N",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 11,
                "exp_year": 2017,
                "fingerprint": "sOd1LTL8eaugciUV",
                "funding": "credit",
                "last4": "4242",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_94F2QWAh0SL27N/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_94F2QWAh0SL27N/subscriptions"
          }
        }
  recorded_at: Wed, 24 Aug 2016 18:57:18 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: UTF-8
      string: amount=1099&currency=cad&customer=cus_94F2QWAh0SL27N
    headers:
      Authorization:
      - Bearer sk_test_f3crwsSoeR3N8wNVjq8sEssW
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-07-06'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_18m6Z4AnIETEalxPveoODkdD",
          "object": "charge",
          "amount": 1099,
          "amount_refunded": 0,
          "application_fee": null,
          "balance_transaction": "txn_18m6Z4AnIETEalxPc9WHYbUN",
          "captured": true,
          "created": 1472065050,
          "currency": "cad",
          "customer": "cus_94F2QWAh0SL27N",
          "description": null,
          "destination": null,
          "dispute": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {},
          "order": null,
          "paid": true,
          "receipt_email": null,
          "receipt_number": null,
          "refunded": false,
          "refunds": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/charges/ch_18m6Z4AnIETEalxPveoODkdD/refunds"
          },
          "shipping": null,
          "source": {
            "id": "card_18m6VKAnIETEalxPXNK101gH",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "customer": "cus_94F2QWAh0SL27N",
            "cvc_check": "pass",
            "dynamic_last4": null,
            "exp_month": 11,
            "exp_year": 2017,
            "fingerprint": "sOd1LTL8eaugciUV",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "source_transfer": null,
          "statement_descriptor": null,
          "status": "succeeded"
        }
  recorded_at: Wed, 24 Aug 2016 18:57:30 GMT
recorded_with: VCR 3.0.3

