<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TASTIER</title>
  <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <%= stylesheet_link_tag "coming_soon", :media => "all" %>
  <%= javascript_include_tag "coming_soon" %>
</head>
<body>
  <div id="wrapper">
    <%= yield %>
  </div>
</body>
</html>
